<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head', {title: pageTitle}); %>
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <%- include('./partials/_navbar', {active: pageActive}); %>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <div class="thumb">
                <div class="inner-content">
                  <h4>We Are Hexashop</h4>
                  <span>Awesome, clean &amp; creative HTML5 Template</span>
                  <div class="main-border-button">
                    <a href="/products">Purchase Now!</a>
                  </div>
                </div>
                <img src="/assets/images/left-banner-image.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Women</h4>
                        <span>Best Clothes For Women</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Women</h4>
                          <p>
                            Lorem ipsum dolor sit amet, conservisii ctetur
                            adipiscing elit incid.
                          </p>
                          <div class="main-border-button">
                            <a href="/products/women">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img src="/assets/images/baner-right-image-01.jpg" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Men</h4>
                        <span>Best Clothes For Men</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Men</h4>
                          <p>
                            Lorem ipsum dolor sit amet, conservisii ctetur
                            adipiscing elit incid.
                          </p>
                          <div class="main-border-button">
                            <a href="/products/men">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img src="/assets/images/baner-right-image-02.jpg" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Kids</h4>
                        <span>Best Clothes For Kids</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Kids</h4>
                          <p>
                            Lorem ipsum dolor sit amet, conservisii ctetur
                            adipiscing elit incid.
                          </p>
                          <div class="main-border-button">
                            <a href="/products/kid">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img src="/assets/images/baner-right-image-03.jpg" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Accessories</h4>
                        <span>Best Trend Accessories</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Accessories</h4>
                          <p>
                            Lorem ipsum dolor sit amet, conservisii ctetur
                            adipiscing elit incid.
                          </p>
                          <div class="main-border-button">
                            <a href="/products/accessory">Discover More</a>
                          </div>
                        </div>
                      </div>
                      <img src="/assets/images/baner-right-image-04.jpg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-heading">
              <h2>Men's Latest</h2>
              <span
                >Details to details is what makes Hexashop different from the
                other themes.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="men-item-carousel">
              <div class="owl-men-item owl-carousel">
                <% for (let i = 0; i < men.length; i++) { %>
                <div class="item">
                  <div class="thumb">
                    <div class="hover-content">
                      <ul>
                        <li>
                          <a href="/products/<%= men[i].cloth_id %>"
                            ><i class="fa fa-eye"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            style="cursor: pointer"
                            onclick="AddToCart('<%= men[i].cloth_id %>', '<%= men[i].image %>', '<%= men[i].name %>', '<%= men[i].price %>')"
                            ><i class="fa fa-shopping-cart"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <img src="<%= men[i].image %>" alt="" />
                  </div>
                  <div class="down-content">
                    <h4><%= men[i].name %></h4>
                    <span>$<%= men[i].price %></span>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Men Area Ends ***** -->

    <!-- ***** Women Area Starts ***** -->
    <section class="section" id="women">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-heading">
              <h2>Women's Latest</h2>
              <span
                >Details to details is what makes Hexashop different from the
                other themes.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="women-item-carousel">
              <div class="owl-women-item owl-carousel">
                <% for (let i = 0; i < women.length; i++) { %>
                <div class="item">
                  <div class="thumb">
                    <div class="hover-content">
                      <ul>
                        <li>
                          <a href="/products/<%= women[i].cloth_id %>"
                            ><i class="fa fa-eye"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            style="cursor: pointer"
                            onclick="AddToCart('<%= women[i].cloth_id %>', '<%= women[i].image %>', '<%= women[i].name %>', '<%= women[i].price %>')"
                            ><i class="fa fa-shopping-cart"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <img src="<%= women[i].image %>" alt="" />
                  </div>
                  <div class="down-content">
                    <h4><%= women[i].name %></h4>
                    <span>$<%= women[i].price %></span>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Women Area Ends ***** -->

    <!-- ***** Kids Area Starts ***** -->
    <section class="section" id="kids">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-heading">
              <h2>Kid's Latest</h2>
              <span
                >Details to details is what makes Hexashop different from the
                other themes.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="kid-item-carousel">
              <div class="owl-kid-item owl-carousel">
                <% for (let i = 0; i < kid.length; i++) { %>
                <div class="item">
                  <div class="thumb">
                    <div class="hover-content">
                      <ul>
                        <li>
                          <a href="/products/<%= kid[i].cloth_id %>"
                            ><i class="fa fa-eye"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            style="cursor: pointer"
                            onclick="AddToCart('<%= kid[i].cloth_id %>', '<%= kid[i].image %>', '<%= kid[i].name %>', '<%= kid[i].price %>')"
                            ><i class="fa fa-shopping-cart"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <img src="<%= kid[i].image %>" alt="" />
                  </div>
                  <div class="down-content">
                    <h4><%= kid[i].name %></h4>
                    <span>$<%= kid[i].price %></span>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Kids Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <h2>Explore Our Products</h2>
              <span
                >You are allowed to use this HexaShop HTML CSS template. You can
                feel free to modify or edit this layout. You can convert this
                template as any kind of ecommerce CMS theme as you wish.</span
              >
              <div class="quote">
                <i class="fa fa-quote-left"></i>
                <p>
                  You are not allowed to redistribute this template ZIP file on
                  any other website.
                </p>
              </div>
              <p>
                There are 5 pages included in this HexaShop Template and we are
                providing it to you for absolutely free of charge at our
                TemplateMo website. There are web development costs for us.
              </p>
              <p>
                If this template is beneficial for your website or business,
                please kindly
                <a
                  rel="nofollow"
                  href="https://paypal.me/templatemo"
                  target="_blank"
                  >support us</a
                >
                a little via PayPal. Please also tell your friends about our
                great website. Thank you.
              </p>
              <div class="main-border-button">
                <a href="/products">Discover More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="leather">
                    <h4>Leather Bags</h4>
                    <span>Latest Collection</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="first-image">
                    <img src="/assets/images/explore-image-01.jpg" alt="" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="second-image">
                    <img src="/assets/images/explore-image-02.jpg" alt="" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="types">
                    <h4>Different Types</h4>
                    <span>Over 304 Products</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading">
              <h2>Social Media</h2>
              <span
                >Details to details is what makes Hexashop different from the
                other themes.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row images">
          <div class="col-2">
            <div class="thumb">
              <div class="icon">
                <a href="http://instagram.com">
                  <h6>Fashion</h6>
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <img src="/assets/images/instagram-01.jpg" alt="" />
            </div>
          </div>
          <div class="col-2">
            <div class="thumb">
              <div class="icon">
                <a href="http://instagram.com">
                  <h6>New</h6>
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <img src="/assets/images/instagram-02.jpg" alt="" />
            </div>
          </div>
          <div class="col-2">
            <div class="thumb">
              <div class="icon">
                <a href="http://instagram.com">
                  <h6>Brand</h6>
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <img src="/assets/images/instagram-03.jpg" alt="" />
            </div>
          </div>
          <div class="col-2">
            <div class="thumb">
              <div class="icon">
                <a href="http://instagram.com">
                  <h6>Makeup</h6>
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <img src="/assets/images/instagram-04.jpg" alt="" />
            </div>
          </div>
          <div class="col-2">
            <div class="thumb">
              <div class="icon">
                <a href="http://instagram.com">
                  <h6>Leather</h6>
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <img src="/assets/images/instagram-05.jpg" alt="" />
            </div>
          </div>
          <div class="col-2">
            <div class="thumb">
              <div class="icon">
                <a href="http://instagram.com">
                  <h6>Bag</h6>
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <img src="/assets/images/instagram-06.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <%- include('./partials/_subscribe') %>
    <!-- ***** Subscribe Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer><%- include('./partials/_footer') %></footer>

    <%- include('./partials/_scripts'); %>
    <script src="/assets/js/customJS_CartAction.js"></script>
  </body>
</html>
